*{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  padding: 20px;
  background-image: url('pokemon.jpg');
  background-size: cover;
}

button {
  margin-left: 5px;
}

.imgpoke {
  width: 24%;
  display: inline;
}

.cardpoke {
  display: flow-root !important;
}

.iconpoke{
  width: 18% !important;
  float: right !important;
}

.btnpokeinfo{
  width: 99% !important;
}

.btnpokelist{
  border-radius: 4px;
}

.imgoficial{
  width: 350px !important;
  height: 350px !important;
}